@import url('https://fonts.googleapis.com/css?family=Lobster');

.navbar {
  padding-top: 45px;
}

.header {
  height: 726px;
  background: url(../img/home_bg.jpg) no-repeat center bottom;
  -webkit-background-size: cover;
  background-size: cover;
  margin-bottom: 120px;
}

.navbar-light .navbar-toggler {
    color: #fff !important;
    border-color: #fff !important;
}

.navbar-brand > p {
  color: #fed136 !important;
  font-family: 'Lobster', cursive;
  font-size: 20px;

}
.navbar-nav > li {
  margin-right: 40px;
}

.navbar-nav > li:last-child {
  margin-right: 0;
}

.nav-item > a {
  text-transform: uppercase;
  font: 14px Arial, sans-seerif;
  color: #fff !important;
}

.nav-item > a:hover {
  color: #fed136 !important;
}

.home {
  padding-top: 205px;
  color: #fff;
}

.home > h3 {
  margin-bottom: 40px;
  font: 40px/40px Arial, sans-seerif;
}

.home > h1 {
  margin-bottom: 50px;
  font: 75px/75px Arial, sans-seerif;
  text-transform: uppercase;
}

.btn {
  padding: 20px 30px;
  background: #fed136;
  font: bold 24px Arial, sans-seerif;
  text-transform: uppercase;
  color: #fff;
  cursor: pointer;
}

.btn:hover {
  background: #816811;
}

.services, .about {
  padding-top: 115px;
}

.services > h2 {
  font: bold 40px/40px Arial, sans-seerif;
  color: #222222;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.description {
  font: 16px/16px Arial, sans-seerif;
  color: #777777;
  line-height: 25px;
  padding-bottom: 80px;
}

.description, .title-services > p {
  font: 18px Arial, sans-seerif;
  color: #777777;
  padding-bottom: 120px;
  padding-right: 20px;
  line-height: 25px;
}

.title-services > h5 {
  font: bold 18px Arial, sans-seerif;
  color: #222222;
  padding: 20px 0;
}

.body-portfolio {
  padding-bottom: 75px;
}

.body-portfolio:nth-last-child(1),
.body-portfolio:nth-last-child(1),
.body-portfolio:nth-last-child(1) {
  padding-bottom: 0;
}

.portfolio {
  background-color: #f7f7f7;
  padding-top: 115px;
}

.portfolio > h2 {
  font: bold 40px/40px Arial, sans-seerif;
  color: #222222;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.title-portfolio {
  padding-top: 30px;
}

span {
  font: bold 14px Times New Roman, sans-seerif;
  color: #737373;
  padding-top: 5px;
}

.about > h2 {
  font: bold 40px/40px Arial, sans-seerif;
  color: #222222;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.description-about {
  font: 16px Arial, sans-seerif;
  color: #777777;
  line-height: 25px;
}

.text-about > h5 {
  font: bold 18px Arial, sans-seerif;
  color: #222222;
}

.img-about > img {
  padding-left: 90px;
}

.img-about:after {
  content: '';
  display: block;
  height: 94px;
  width: 3px;
  background-color: #F1F1F1;
  margin-left: 180px;
}

.img-about-1 {
  padding-right: 150px;
}
